#!/bin/bash
#
# Output directory
#SBATCH --mail-type=begin,end,fail,requeue
#SBATCH --time={{ run.length }}
#SBATCH --job-name={{ run.name }}{{ run.custom_id }}
#SBATCH --nodes={{ run.nodes }}
#SBATCH --ntasks-per-node {{ run.ntasks }}
#SBATCH --ntasks-per-core 1
#SBATCH --mem=20gb
#SBATCH --partition={{ run.cluster }}
#SBATCH --account={{ run.cluster }}

# Now run some programs.

echo "Initiating from {{ run.configuration }}"

cd {{ run.dir }}

echo "Running in $PWD"

SLEEP_SECS=`expr $RANDOM / 1000`
echo "Sleeping for $SLEEP_SECS"
sleep $SLEEP_SECS

NUM="`cat inputfile`"
echo "Done with run number $NUM"

